@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
html {
	overflow-x: hidden;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: -10px;
}

body {
	font-family: 'Titillium Web', sans-serif;
	width: 100%;
	height: 100%;
	background: white;
	color: black;
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

li {
	list-style-type: none;
}

nav {
	margin-top: -10px;
	padding-top: 10px;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	margin-bottom: 150px;
}

nav li {
	display: inline-table;
	padding: 0 40px;
	font-size: 16px;
}

p {
	font-size: 16px;
	width: 65%;
	margin: 0 auto;
}

.left {
	position: absolute;
	left: 0;
	margin-left: 0;
	padding-left: 10px;
}

.banner {
	width: 100%;
	height: 600px;
	padding-top: 10px;
	color: silver;
	font-style: italic;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/sunset.jpg');
}

.banner hr {
	border-color: rgba(255, 255, 255, 0.2);
	width: 50%;
}

hr {
	border-color: lightgray;
}

.projects_subtext {
	margin-top: -40px;
	margin-bottom: 20px;
}

.row .column {
	display: inline-block;
}

.column {
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 32%;
	border: 1px solid gray;
	border-radius: 7px;
}

.column:last-of-type {
	margin-right: 0;
}

.fa-lg {
	font-size: 32px;
}
